<a class="dropdown-toggle" data-toggle="dropdown" href="#">
${{currency.btceusd}} &middot; {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('PIXOC')" data-ng-class="{active: currency.symbol == 'PIXOC'}">PIXOC</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('mPIXOC')" data-ng-class="{active: currency.symbol == 'mPIXOC'}">mPIXOC</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('uPIXOC')" data-ng-class="{active: currency.symbol == 'uPIXOC'}">uPIXOC</a>
</li>
</ul>
